<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.IniciativaMapper">
    <insert id="insertarIniciativa" parameterType="map">
        INSERT INTO INICIATIVA
        VALUES (
        #{iniciativa.id},
        #{iniciativa.nombre},
        #{iniciativa.estado},
        #{iniciativa.votos},
        #{iniciativa.palabrasClave},
        #{iniciativa.interesados},
        #{iniciativa.proponente},
        #{iniciativa.area},
        #{iniciativa.fechaCreacion},
        #{iniciativa.fechaFin}
        #{iniciativa.descripcion}
        #{iniciativa.integrantesDelProyecto}
        )
    </insert>


    <select parameterType="map" id="consultarIniciativa" resultMap="IniciativaResult" >
        SELECT
        i.id,
        i.nombre,
        i.estado,
        i.votos,
        i.palabrasClave,
        i.usuarioProponente,
        i.nteresados,
        i.proponente
        i.area,
        i.fechaCreacion,
        i.fechaFin,
        i.descripcion,
        i.integrantesDelProyecto
        FROM USUARIOS AS i
        WHERE u.id=#{id}
    </select>


    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id' />
        <result property='nombre' column='nombre' />
        <result property='estado' column='estado' />
        <result property="usuarioProponente" column="usuarioProponente" />
        <result property='area' column='area' />
        <result property='fechaCreacion' column='fechaCreacion' />
        <result property='fechaFin' column='fechaFin' />
    </resultMap>
</mapper>